body {
    background-color: white;
    background-attachment: fixed;
}

.container-error,
.container {
    background-color: white;
    border: 1px solid rgb(168, 205, 240);
    box-shadow: 2px 4px rgba(38, 38, 38, 0.3);
    border-radius: 10px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    margin: auto;
    padding-top: 4%;
    position: absolute;
    top: 4%;
    right: 0;
    bottom: 4%;
    left: 0;
    width: 70%;
    height: auto;
    padding-right: 40px;
    padding-left: 30px;
    display: inline-block;
}

div.container div#chart_div {
    width: 70%;
    height: 60%;
    position: fixed;
    margin-left: -2%;
    margin-top: 8%;
    margin-bottom: 10%;
    background-color: rgba(255, 255, 255, 0.0);
}

div.container div.d1 div.d1-a div {
    margin-left: 20%;
    float: left;
}

div.container div.d2 div.d3 button.button,
div.container div.d1 div.d1-a div button.button {
    padding: 3px 5px;
    background-color: #dfdfdf;
    border: 1px solid rgb(168, 205, 240);
    border-radius: 3px;
    transition-duration: 0.7s;
    color: black;
    font-weight: bold;
}

div.container div.d1 div.d1-a div button.button {
    padding: 6px 8px;
    font-weight: normal;
}

div.container div.d2 div.d3 button.button:hover,
div.container div.d1 div.d1-a div button.button:hover {
    background-color: dodgerblue;
    color: #ffffff;
}

div.container div.d2 {
    position: relative;
    float: right;
    padding-top: 2%;
    height: 80px;
    width: 180px;
    border: 3px solid rgba(38, 47, 55, 0.28);
    border-radius: 6px;
    font-size: smaller;
}

div.container div.d2 div div.real {
    margin-top: 5%;
    margin-bottom: 5%;
}

div.container div.d2 div.d3 {
    margin-top: 5%;
    margin-bottom: 10%;
}

div.container div.d2 div.d3 .currency {
    padding: 3px 5px;
    background-color: #dfdfdf;
    border: 1px solid rgb(168, 205, 240);
    border-radius: 3px;
    font-weight: normal;
    font-size: 12px;
    position: relative;
    height: 16px;
    width: 40px !important;
}

div.container form div.d1 span.txt,
div.container div.d2 span.txt {
    color: rgba(54, 54, 54, 0.4);
}

div.container form div.d1 select.list {
    position: relative;
    /*height: 16px;*/
    padding: 6px 8px;
    background-color: white;
    border: 1px solid rgb(168, 205, 240);
    border-radius: 4px;
    cursor: pointer;
    z-index: 3;
}

div.container-error div.button a.b {
    padding: 6px 8px;
    background-color: #dfdfdf;
    border: 1px solid rgb(168, 205, 240);
    border-radius: 4px;
    transition-duration: 0.7s;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

div.container-error div.button a.b:hover {
    background-color: dodgerblue;
    color: #ffffff;
}

div.container-error div.text {
    margin-top: 10%;
    margin-bottom: 10%;
}

