<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange Visualisation</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>

<!--<form method="post" th:action="@{/}" th:object="${currencyData}">-->


<!--            <button type="submit" name="add" class="button">-->
<!--                <i class="fa fa-plus" aria-hidden="true" title="Plus"></i>-->
<!--            </button>-->
<div class="container">
    <form action="/d" method="post" th:object="${currencyData}">
        Select exchange currencies
        <div class="d1">
            <span class="txt">From: </span>
            <label>
                <select th:field="*{choice1}" class="list" th:value="Select">
                    <option th:each="entry : ${currencyData.getPool().entrySet()}" th:value="${entry.key}"
                            th:text="${entry.key}" th:title="${entry.value}">
                </select>
            </label>
            <span class="txt">To: </span>
            <label>
                <select th:field="*{choice2}" class="list" th:value="Select">
                    <option th:each="entry : ${currencyData.getPool().entrySet()}" th:value="${entry.key}"
                            th:text="${entry.key}">
                </select>
                <input type="submit">
            </label>

        </div>
    </form>
    <div class="d2">
            <div>
                <span class="txt">Real-time exchange rate: </span>
                <span class="info" th:text="${realtime}"></span>
            </div>
            <div class="d3">
                <span class="currency" th:text="${currencyData.getChoice1()}"></span>
                <span class="currency" th:text="${currencyData.getChoice2()}"></span>
            </div>
    </div>
</div>
</body>
</html>