<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange Visualisation</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--<form method="post" th:action="@{/}" th:object="${currencyData}">-->

<div class="container">
    <form th:action="@{/}" method="post" th:object="${currencyData}">
        <div class="d1">
            <div class="d1-a">
                <div>
                    <p>Select exchange currencies
                    <p><span class="txt">From: </span>
                        <label>
                            <select th:field="*{choice1}" class="list" th:value="Select" id="sel1">
                                <option value="NONE">Select</option>
                                <option th:each="entry : ${currencyData.getPool().entrySet()}" th:value="${entry.key}"
                                        th:text="${entry.key}" th:title="${entry.value}">
                            </select>
                        </label>
                        <span class="txt">To: </span>
                        <label>
                            <select th:field="*{choice2}" class="list" th:value="Select" id="sel2">
                                <option value="NONE">Select</option>
                                <option th:each="entry : ${currencyData.getPool().entrySet()}" th:value="${entry.key}"
                                        th:text="${entry.key}">
                            </select>
                        </label>
                        <button type="submit" name="get_rate" class="button">
                            Submit
                        </button>
                    </p>
                </div>
            </div>
            <div class="d2">
                <div>
                    <span class="txt">Real-time exchange rate: </span>
                    <span class="info" th:text="${realtime}"></span>
                </div>
                <div class="d3">
                    <span class="currency" th:text="${currencyData.getChoice1()}" aria-placeholder="   "></span>
                    <span class="currency" th:text="${currencyData.getChoice2()}" aria-placeholder="   "></span>
                    <button type="submit" name="exchange" class="button">
                        <-->
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>